<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app" class="container pt-5 container_big mb-5">

        <div class="row height_100"><!--inizio row-->



            <!--PARTE SINISTRA-->

                <div class="col-4 bg_left"> <!--Inizio parte sinistra-->

                    <div class="row align-items-center p-1 justify-content-around bg_card_top">
                        <!--Row contatti/utente-->
                        <div class="col-6 d-flex align-items-center gap-3">
                            <img src="./assets/img/avatar_io_360.jpg" class="resize">
                            <strong class="">Alessandro</strong>
                        </div>


                        <div class="col-6 d-flex justify-content-end gap-3">
                            <i class="fa-solid fa-circle-notch" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-message" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i>
                        </div>
                    </div> <!--Fine info utente-->


                    <!--Area notifiche-->
                    <div class="row align-items-center p-2 justify-content-start bg_card_notif">
                        <div class="col-2 d-flex rounded_avatar d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-bell-slash " style="color: #8edafc;"></i>
                        </div>
                        <div class="col-10 d-flex flex-column">
                            <strong class="font_size_name">Ricevi notifiche di nuovi messaggi</strong>
                            <a href="#" class="font_size_name">Attiva notifiche Desktop</a>
                        </div>
                    </div><!--Fine area notifiche-->

                    <!--Inizio area ricerca contatti-->
                    <div class="row align-items-center p-2 justify-content-around bg_friend ">
                        <div class="input-group gap-1">
                            <button class="btn " type="button" id="button-addon1">
                                <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Cerca e inizia una nuova chat"
                                aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </div>
                    <!--Fine area ricerca contatti-->

                    <!--Inizio chat contatti-->

                    <div class="contacts">
                        <div class="row align-items-center p-1 justify-content-start bg_friend"
                            v-for="(contact, index) in contacts" @click="activeContact(index)">
                            <!--Row contatti/utente-->

                            <div class="d-flex" :class="active == index ? 'bg_card_top' : '' ">
                                <div class="col-2 d-flex align-items-center gap-3">
                                    <img v-bind:src="contact.avatar" class="resize">
                                </div>

                                <div class="col-10 d-flex flex-column  gap-1">
                                    <strong class="font_size_name">{{contact.name}}</strong>
                                    <p class="font_size_access">{{contact.messages[contact.messages.length -
                                        1].message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Fine chat contatti-->



                </div> 
                
                <!--FINE PARTE SINISTRA-->




            <!--PARTE DESTRA-->

            <div class="col-8 bg_right d-flex flex-column"><!--Inizio parte destra-->

                <div class="row align-items-center p-1  justify-content-around bg_card_top">
                    <!--Row messaggioUtente top-->
                    <div class="col-1 d-flex align-items-center gap-3">
                        <img :src="contacts[active].avatar" class="resize">

                    </div>
                    <div class="col-5 d-flex flex-column  gap-1">
                        <strong class="font_size_name">{{contacts[active].name}}</strong>
                        <p class="font_size_access">Ultimo accesso oggi alle 12:00</p>
                    </div>


                    <div class="col-6 d-flex justify-content-end gap-3">
                        <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                        <i class="fa-solid fa-paperclip" style="color: #b1b1b1;"></i>
                        <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i>
                    </div>
                </div><!-- fine Row messaggioUtente top-->

                <!--Area messaggi-->

                <div class="row container_message bg_whats">

                    <div class="message_container">

                        <div v-for="(message,index) in contacts[active].messages" class="col- mb-2"
                            :class=" message.status === 'sent' ? 'message_sent' : 'message_received' ">

                            <div class="rounded-2 d-flex flex-column"
                                :class=" message.status === 'sent' ? 'sent' : 'received' ">
                                <div class=" pt-2 ps-2 fs_message">
                                    {{message.message}}
                                </div>
                                <div class="d-flex justify-content-end fs_time_message">
                                    {{message.date}}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--Fine area messaggi-->


                <div class=" bg_right_footer d-flex  align-items-center justify-content-around gap-4">
                    <!--Inizio footer messaggi-->

                    <button class="border border-0 ">
                        <i class="fa-regular fa-face-smile " style="color: #b1b1b1;"></i>
                    </button>

                    <div class="flex-grow-1 py-2 h-100">
                        <input type="text" placeholder="Send a message!"
                            class="w-100 h-100 border-0 rounded-2 px-2 border border-secondary">
                    </div>

                    <button class="border border-0 ">
                        <i class="fa-solid fa-location-arrow " style="color: #b1b1b1;"></i>
                    </button>

                    <button class="border border-0 ">
                        <i class="fa-solid fa-microphone" style="color: #b1b1b1;"></i>
                    </button>

                </div><!--Fine footer messaggi-->

            </div>
        </div>
    </div>
    </div>

    <!--FINE PARTE DI DESTRA-->


    </div><!--Fine row generale-->
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>