* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

:root {
    --bz-white: #fff;
    --bz-white-soft: #fafafa;
    --bz-light: #eaeaea;
    --bz-light-soft: #d9dbd4;
    --bz-dark: #6b7376;
    --bz-dark-soft: #b1b1b1;
    --bz-success: #009688;
    --bz-communications: #8edafc;
    --bz-communications-soft: #f2fbff;
}

.bg_left {
    background-color: var(--bz-white-soft);
    
}

.bg_right {
    background-color: var(--bz-white);
   
}

.avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.resize {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
}

.bg_card_top {
    background-color: var(--bz-light);
    border: 1px solid;
}

.bg_friend {
    background-color: var(--bz-white);
}

.bg_card_notif {
    background-color: var(--bz-communications);
}

.bg_whats{
    background-image: url(../img/mine_480.jpg);
   }

.bg_right_footer{
    background-color: var(--bz-light);
}

.rounded_avatar {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    background-size: auto;
}

.container_big{
    height: 750px;
}

.height_100{
    height: 100%;
}

.font_size_name{
    font-size: 12px;
}

.font_size_access{
    font-size: 8px;
}

.container_message{
    height: 85%;
}

.footer_message {
    height: 6.45%;
  
}

